


body {
    background-color: gainsboro;
    margin: 20px;
    border-radius: 10px;
    scroll-behavior: smooth;
}

.container {
    background: whitesmoke;
    border-radius: 20px;
    box-shadow: 0 5px 6px rgba(0, 0, 0, 0.2);
    display: flex;
}

.container img {
    width: 200px;
    height: 200px;
    border-radius: 5px;
    box-shadow: 0 9px 5px rgba(0, 0, 0, 0.2);
}

.info {
    padding: 30px;
    flex-grow: 1;
}

.lakások {
    width: 100%;
    border-collapse: collapse;
}

.lakások th,
.lakások td {
    border: 1px solid #ddd;
    text-align: center;
    padding: 6px;
}

.lakások th {
    background-color: darkgrey;
}

.lakások tr:hover {
    background-color: lightgray;
    transition: 0.3s;
}

.osszefoglalas {
    display: flex;
}

.osszefoglalas ul,
.osszefoglalas ol {
    list-style: square;
}

.osszefoglalas h4 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-shadow: 0 9px 5px rgba(0, 0, 0, 0.2);
}

h1 {
    text-align: center;
}





/* Gyakorlás */





.second-container, .second-container h1 {
    background: whitesmoke;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 5px 6px rgba(0, 0, 0, 0.2);
    display: flex;
}

.info2 {
    padding: 30px;
    flex-grow: 1;
}

.gyak {
    width: 100%;
    border-collapse: collapse;
}

.gyak th,
.gyak-tab td {
    border: 1px ridge #818181;
    text-align: center;
    padding: 6px;
    cursor: default;
}

.gyak td:hover {
    background-color: rgba(255, 255, 255, 0.568);
    transition: 0.5s;
    transition: width 2s, height 4s;
}

.gyak th {
    background-color: rgb(197, 197, 197);
}

.gyak tr:hover {
    background-color: rgba(209, 209, 209, 0.568);
    transition: 0.3s;
}

.other {
    display: flex;
}


